// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 10px;
  height: 61px;
  border-radius: 8px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;

  &--text-blue {
    color: var(--blue);
    border: 1px solid #D3D3D3;
  }
  &--blue {
    background-color: #0059FF;
    color: #fff;
  }
}

.headerBtn {
  border-radius: 100px;
  height: 52px;
  font-size: 16px;
  @media(max-width: 767px){
    padding-left: 0;
    padding-right: 0;
    width: 52px;
    height: 52px;
  }
  span {
    @media(max-width: 767px){
      display: none;
    }
  }
}
.footerBtn {
  @media(max-width: 575px){
    width: 100%;
  }
}