// Specifications
* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 991px) {
    font-size: 16px;
    line-height: 24px;
  }
}

html {
  scroll-behavior: smooth;
}

body.hidden {
  overflow: hidden
}

body.modal-open {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

section {
  padding-top: 90px;
  padding-bottom: 90px;

  @media(max-width: 991px) {
    padding-bottom: 35px;
    padding-top: 35px;
  }
}

.sect {
  &.pb-0 {
    padding-bottom: 0;
  }

  &.pt-0 {
    padding-top: 0;
  }
}

.formInput {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #838383;
  background-color: #ffffff;
  width: 100%;
  padding-left: 25px;
  font-size: 16px;

  @media(max-width: 1199px) {
    padding-left: 20px;
  }

  &::placeholder {
    color: #b0b0b0;
    font-size: 16px;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.sectHead {
  margin-bottom: 30px;

  @media (max-width: 991px) {
    margin-bottom: 24px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background-image: linear-gradient(180deg,#F4F4F4 0%, #FFF 100%);
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 var(--container-offset);
  // max-width: var(--container-width);
  // margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 12px;
  }
}


.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1130px;
  }
}



.container-fluid {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family);
  color: #000;
  font-weight: $medium;
}

h1,
.h1 {
  font-size: 36px;

  @media(max-width: 991px) {
    font-size: 24px;
  }
}

h2,
.h2 {
  font-size: 40px;
  line-height: normal;
  font-weight: 900;

  @media(max-width: 991px) {
    font-size: 24px;
  }
}

h3,
.h3 {
  font-size: 24px;

  @media (max-width: 991px) {
    font-size: 16px;
  }
}

.underline {
  text-decoration: underline;
}

@-webkit-keyframes shows {
  from {
    opacity: 0;
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes shows {
  from {
    opacity: 0;
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.content {
  &>p {
    margin-bottom: 15px;

    a {
      display: inline;
      border-bottom: 1px solid #000;
    }
  }

  &>ul {
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: disc;
    padding-left: 20px;
  }

  &>a {
    display: inline;
    border-bottom: 1px solid #000;
  }

  &Head {
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;

    @media(max-width: 991px) {
      font-size: 20px;
      line-height: 120%;
    }
  }
}

.logo {
  img {
    width: 175px;

    @media(max-width: 991px) {
      width: 137px;
    }
  }
}

.radioItem {
  input {
    display: none;
  }

  label {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #D8D8D8;
    position: relative;

    @media(max-width: 991px) {
      width: 32px;
      height: 32px;
    }

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #D8D8D8;

      @media(max-width: 991px) {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.stepsSliderInner {
  display: block;
  // width: calc(100% - 137px);
  // width: 100%;
  position: relative;
  // box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
  border-radius: 16px;


  &::before {
    content: '';
    position: absolute;
    left: -25px;
    top: -14px;
    height: calc(100%);
    width: 100%;
    border-radius: 16px;
    border: 2px solid #EBEBEB;
  }

  &::after {
    content: '';
    position: absolute;
    right: -25px;
    bottom: -14px;
    height: calc(100%);
    width: 100%;
    border-radius: 16px;
    border: 2px solid #EBEBEB;
  }
}

.stepSlider {
  display: block;
  border-radius: 16px;
  // width: 100%; 
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  .swiper-wrapper {
    align-items: center;
  }
}

.stepSlide {
  height: 350px;
  background-color: #EBEBEB;
  color: #0059FF;
  font-size: 96px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1.92px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

  }
}

.stepBlockTitle {
  margin-bottom: 35px;

  span {
    color: #0059FF;
  }
}

.stepBlock {
  padding-top: 70px;

  .swiper-pagination {
    position: relative;
    margin-top: 35px;
  }
}

.text-center {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.stepsSlideThumb {
  width: 120px;
  height: 75px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  &.hide {
    opacity: 0;
  }
}

.stepSliderW {
  display: flex;
  align-items: center;
  column-gap: 64px;
  width: 100%;
  justify-content: center;
  // width: calc(100% - 313px);



  .navArrow {
    flex-shrink: 0;
    border-radius: 20px;
    background: #F8F8F8;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      svg {
        stroke: #0059FF;
      }
    }

    &:active {
      background-color: #0059FF;

      svg {
        stroke: #fff;
      }
    }

    &:focus {
      background-color: #0059FF;

      svg {
        stroke: #fff;
      }
    }

    img {
      width: 24px;
    }

    svg {
      width: 24px;
      height: 24px;
      stroke: #000;
      fill: transparent;
    }

    &.swiper-button-disabled {
      background-color: #F8F8F8;

      svg {
        stroke: #D8D8D8;
      }
    }
  }
}

.stepsSliderRow {
  display: flex;
  align-items: center;
  // column-gap: 36px;
}

.stepsSlideSum {
  color: #A4A4A4;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  width: 145px;
  flex-shrink: 0;

  &Next {
    text-align: end;
  }
}